body {
    background-image: url("images/bg1.jpg");
    background-size: contain;
    background-attachment: fixed;
}

.body {
    margin: 0;
    text-align: center;
    font-family: 'Merriweather', serif;
    background-color:  #151965;
    width: 99%;
    margin: 20px auto 20px auto;
}

h1 {
    color: #46b5d1;
    font-family: 'Roboto', sans-serif;
}

h2 {
    color: #46b5d1;
    font-family: 'Roboto', sans-serif;
}

h3 {
    color: #46b5d1;
    font-family: 'Roboto', sans-serif;
}

p {
    color: #46b5d1;
    font-family: 'Roboto', sans-serif;
}

.top_container {
    margin: auto;
    overflow: auto;
}

.name {
    font-size: 3rem;
}

.profile_pic {
    padding-top: 30px;
}

.skills_icon_table {
    margin: 150px auto 150px auto;
}

.icons {
    height: 96px;
    width: 96px;
}

.skill_icons {
    padding: 15px 15px 0px 15px;
}

.summary {
    width: 80%;
    margin: 10px auto 150px auto;
    text-align: left;
}

.skill_row {
    width: 50%;
    margin: 50px auto 150px auto;
    text-align: left;
    line-height: 2;
}

.ds {
    float: left;
    width: 25%;
    margin-right: 30px;
}

.ai {
    float: right;
    width: 25%;
    margin-left: 30px;   
}








